.regular {
	border-style: none;
	height: 220px;
	width: 158px;
	content: url("images/cardback.png");

}

.hide {
	visibility: hidden;
	border-style: none;
	max-height: 220px;
	max-width: 158px;
}

.highlight {
	height: 220px;
	width: 158px;
}

.generalInfo{
	margin: auto;
	width: 45%;
	border: 3px solid;
	padding: 10px;
	background-color: grey;
}

.red{
	color: red;
}

.yellow{
	color: yellow;
}

.green{
	color: green;
}

.wins{
	color: cyan;
}

h1{
	text-align: center;
	font-size: 60px;
	color: red;
}

p{
	text-align: center;
	font-size: 24px;
}